<div class="modal-header">
  <h3 class="modal-title" ng-bind="modalAnnualsCtrl.title"></h3>
</div>

<div class="modal-body">
  <div class="form-group">
    <label class="control-label">Станція</label>
    <select class="form-control form-control-width"
      ng-model="modalAnnualsCtrl.annual.station_id"
    ng-options="station._id as station.name for station in modalAnnualsCtrl.stations"></select>
  </div>
  <div class="form-group">
    <label class="control-label">Рік</label>
    <select class="form-control form-control-width"
      ng-model="modalAnnualsCtrl.annual.year"
    ng-options="year as year for year in modalAnnualsCtrl.Dates.years"></select>
  </div>
  <div class="form-group">
    <label class="control-label">Порядковий №</label>
    <input class="form-control form-control-width" ng-model="modalAnnualsCtrl.annual.number">
  </div>
  <div class="form-group">
    <label class="control-label">Континентальний кут</label>
    <input class="form-control form-control-width" ng-model="modalAnnualsCtrl.annual.angle_continental">
  </div>
  <div class="form-group">
    <label class="control-label">Береговий кут</label>
    <input class="form-control form-control-width" ng-model="modalAnnualsCtrl.annual.angle_shore">
  </div>
  <div class="form-group">
    <label class="control-label">Сторінка станції</label>
    <input class="form-control form-control-width" ng-model="modalAnnualsCtrl.annual.page_station">
  </div>
  <div class="form-group">
    <label class="control-label">Сторінка спостережень</label>
    <input class="form-control form-control-width" ng-model="modalAnnualsCtrl.annual.page_observation">
  </div>
  <div class="form-group">
    <label class="control-label">Примітка</label>
    <input class="form-control form-control-width" ng-model="modalAnnualsCtrl.annual.comment">
  </div>
  <div class="form-group">
    <label class="control-label">Схід снігу</label>
    <p class="input-group">
      <input class="form-control form-control-width"
      datepicker-popup
      ng-model="modalAnnualsCtrl.annual.snow_melting"
      is-open="modalAnnualsCtrl.isOpen.snow_melting">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="modalAnnualsCtrl.open($event, 'snow_melting')">
        <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <label class="control-label">Початок спостережень майданчику</label>
    <p class="input-group">
      <input class="form-control form-control-width"
      datepicker-popup
      ng-model="modalAnnualsCtrl.annual.observation_begin_g"
      is-open="modalAnnualsCtrl.isOpen.observation_begin_g">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="modalAnnualsCtrl.open($event, 'observation_begin_g')">
        <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <label class="control-label">Закінчення спостережень майданчику</label>
    <p class="input-group">
      <input class="form-control form-control-width"
      datepicker-popup
      ng-model="modalAnnualsCtrl.annual.observation_end_g"
      is-open="modalAnnualsCtrl.isOpen.observation_end_g">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="modalAnnualsCtrl.open($event, 'observation_end_g')">
        <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <label class="control-label">Замерзання води</label>
    <p class="input-group">
      <input class="form-control form-control-width"
      datepicker-popup
      ng-model="modalAnnualsCtrl.annual.water_freezing"
      is-open="modalAnnualsCtrl.isOpen.water_freezing">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="modalAnnualsCtrl.open($event, 'water_freezing')">
        <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <label class="control-label">Очищення від льоду</label>
    <p class="input-group">
      <input class="form-control form-control-width"
      datepicker-popup
      ng-model="modalAnnualsCtrl.annual.ice_clean"
      is-open="modalAnnualsCtrl.isOpen.ice_clean">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="modalAnnualsCtrl.open($event, 'ice_clean')">
        <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <label class="control-label">Початок спостережень водойми</label>
    <p class="input-group">
      <input class="form-control form-control-width"
      datepicker-popup
      ng-model="modalAnnualsCtrl.annual.observation_begin_w"
      is-open="modalAnnualsCtrl.isOpen.observation_begin_w">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="modalAnnualsCtrl.open($event, 'observation_begin_w')">
        <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <label class="control-label">Закінчення спостережень водойми</label>
    <p class="input-group">
      <input class="form-control form-control-width"
      datepicker-popup
      ng-model="modalAnnualsCtrl.annual.observation_end_w"
      is-open="modalAnnualsCtrl.isOpen.observation_end_w">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="modalAnnualsCtrl.open($event, 'observation_end_w')">
        <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <label class="control-label">Встановлення льодового покриву</label>
    <p class="input-group">
      <input class="form-control form-control-width"
      datepicker-popup
      ng-model="modalAnnualsCtrl.annual.ice_cover"
      is-open="modalAnnualsCtrl.isOpen.ice_cover">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="modalAnnualsCtrl.open($event, 'ice_cover')">
        <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-success" ng-click="modalAnnualsCtrl.ok()">OK</button>
  <button class="btn btn-default" ng-click="modalAnnualsCtrl.cancel()">Відмінити</button>
</div>