<div class="modal-header">
  <h3 class="modal-title" ng-bind="modalDaysCtrl.title"></h3>
</div>

<div class="modal-body">
  <div class="form-group">
    <label class="control-label">Station</label>
    <select class="form-control form-control-width"
      ng-model="modalDaysCtrl.day.station_id"
    ng-options="station._id as station.name for station in modalDaysCtrl.stations"></select>
  </div>
  <div class="form-group">
    <label class="control-label">Year</label>
    <select class="form-control form-control-width"
      ng-model="modalDaysCtrl.day.year"
    ng-options="year as year for year in modalDaysCtrl.Dates.years"></select>
  </div>
  <div class="form-group">
    <label class="control-label">Month</label>
    <select class="form-control form-control-width"
      ng-model="modalDaysCtrl.day.month"
    ng-options="month.index as month.name for month in modalDaysCtrl.Dates.months"></select>
  </div>
  <div class="form-group">
    <label class="control-label">Day</label>
    <select class="form-control form-control-width"
      ng-model="modalDaysCtrl.day.day"
    ng-options="day as day for day in modalDaysCtrl.Dates.days"></select>
  </div>
  <div class="form-group">
    <label class="control-label">Pool Vapour</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.vapour_1">
  </div>
  <div class="form-group">
    <label class="control-label">Pool Temperaure</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.temp_1">
  </div>
  <div class="form-group">
    <label class="control-label">Pool Pressure</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.press_1">
  </div>
  <div class="form-group">
    <label class="control-label">Evaporator (3000) Vapour</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.vapour_2">
  </div>
  <div class="form-group">
    <label class="control-label">Evaporator (3000) Temperaure</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.temp_2">
  </div>
  <div class="form-group">
    <label class="control-label">Evaporator (3000) Pressure</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.press_2">
  </div>
  <div class="form-group">
    <label class="control-label">Evaporator Vapour</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.vapour_3">
  </div>
  <div class="form-group">
    <label class="control-label">Evaporator Temperaure</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.temp_3">
  </div>
  <div class="form-group">
    <label class="control-label">Evaporator Pressure</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.press_3">
  </div>
  <div class="form-group">
    <label class="control-label">Water Temperature</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.temp_w_4">
  </div>
  <div class="form-group">
    <label class="control-label">Vapor Pressure</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.press_4">
  </div>
  <div class="form-group">
    <label class="control-label">Air Temperature</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.temp_a">
  </div>
  <div class="form-group">
    <label class="control-label">Partial Pressure</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.part_press">
  </div>
  <div class="form-group">
    <label class="control-label">Wind Speed</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.wind">
  </div>
  <div class="form-group">
    <label class="control-label">Soil Temperature</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.soil_temp">
  </div>
  <div class="form-group">
    <label class="control-label">Falls</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.falls">
  </div>
  <div class="form-group">
    <label class="control-label">Pool Pressure Difference</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.press_diff_1">
  </div>
  <div class="form-group">
    <label class="control-label">Evapourator Pressure Difference</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.press_diff_2">
  </div>
  <div class="form-group">
    <label class="control-label">Evaporator (3000) Pressure Difference</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.press_diff_3">
  </div>
  <div class="form-group">
    <label class="control-label">Water Pressure Difference</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.press_diff_4">
  </div>
  <div class="form-group">
    <label class="control-label">Comment</label>
    <input class="form-control form-control-width" ng-model="modalDaysCtrl.day.comment">
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-success" ng-click="modalDaysCtrl.ok()">OK</button>
  <button class="btn btn-default" ng-click="modalDaysCtrl.cancel()">Cancel</button>
</div>