<div class="modal-header">
  <h3 class="modal-title">Статус приладів</h3>
</div>

<div class="modal-body">
  <table class="table">
    <thead>
      <tr>
        <th>Прилад</th>
        <th>№</th>
        <th>Дата повірки</th>
        <th>Дата випробування та інше</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tool in monthsToolsCtrl.tools">
        <td ng-bind="tool.name"></td>
        <td>
          <input type="number"
            class="form-control"
            ng-model="monthsToolsCtrl.selected[tool._id].number">
        </td>
        <td>
          <input type="number"
            class="form-control"
            min="1"
            max="31"
            ng-model="monthsToolsCtrl.selected[tool._id].check">
        </td>
        <td>
          <input type="number"
            class="form-control"
            min="1"
            max="31"
            ng-model="monthsToolsCtrl.selected[tool._id].test">
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-success" ng-click="monthsToolsCtrl.ok()">OK</button>
  <button class="btn btn-default" ng-click="monthsToolsCtrl.cancel()">Cancel</button>
</div>