<div class="modal-header">
  <h3 class="modal-title" ng-bind="modalMonthsCtrl.title"></h3>
</div>

<div class="modal-body">
  <div class="form-group">
    <label class="control-label">Станція</label>
    <select class="form-control form-control-width"
      ng-model="modalMonthsCtrl.month.station_id"
    ng-options="station._id as station.name for station in modalMonthsCtrl.stations"></select>
  </div>
  <div class="form-group">
    <label class="control-label">Рік</label>
    <select class="form-control form-control-width"
      ng-model="modalMonthsCtrl.month.year"
    ng-options="year as year for year in modalMonthsCtrl.Dates.years"></select>
  </div>
  <div class="form-group">
    <label class="control-label">Місяць</label>
    <select class="form-control form-control-width"
      ng-model="modalMonthsCtrl.month.month"
    ng-options="month.index as month.name for month in modalMonthsCtrl.Dates.months"></select>
  </div>
  <div class="form-group">
    <label class="control-label">Інструменти</label>
    <table class="table">
      <thead>
        <tr>
          <th>Прилад</th>
          <th>№</th>
          <th>Дата повірки</th>
          <th>Дата випробування та інше</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tool in modalMonthsCtrl.tools">
          <td ng-bind="tool.name"></td>
          <td>
            <input type="text"
              class="form-control"
              ng-model="modalMonthsCtrl.month.tools[tool._id].number">
          </td>
          <td>
            <input type="text"
              class="form-control"
              ng-model="modalMonthsCtrl.month.tools[tool._id].check">
          </td>
          <td>
            <input type="text"
              class="form-control"
              ng-model="modalMonthsCtrl.month.tools[tool._id].test">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group">
    <label class="control-label">Площа басейну, кв.м</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.square_1">
  </div>
  <div class="form-group">
    <label class="control-label">Глибина басейну, м</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.depth_1">
  </div>
  <div class="form-group">
    <label class="control-label">Висота зовні, см</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.external_height_1">
  </div>
  <div class="form-group">
    <label class="control-label">Висота усередині, см</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.internal_height_1">
  </div>
  <div class="form-group">
    <label class="control-label">Площа випарника, кв.м</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.square_2">
  </div>
  <div class="form-group">
    <label class="control-label">Глибина випарника, м</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.depth_2">
  </div>
  <div class="form-group">
    <label class="control-label">Висота зовні, см</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.external_height_2">
  </div>
  <div class="form-group">
    <label class="control-label">Висота усередині, см</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.internal_height_2">
  </div>
  <div class="form-group">
    <label class="control-label">Площа випарника(3000), кв.м</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.square_3">
  </div>
  <div class="form-group">
    <label class="control-label">Глибина випарника(3000), м</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.depth_3">
  </div>
  <div class="form-group">
    <label class="control-label">Висота зовні, см</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.external_height_3">
  </div>
  <div class="form-group">
    <label class="control-label">Висота усередині, см</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.internal_height_3">
  </div>
  <div class="form-group">
    <label class="control-label">Площа дощоміра, кв.м</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.square_4">
  </div>
  <div class="form-group">
    <label class="control-label">Глибина дощоміра, м</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.depth_4">
  </div>
  <div class="form-group">
    <label class="control-label">Висота зовні, см</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.external_height_4">
  </div>
  <div class="form-group">
    <label class="control-label">Висота усередині, см</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.internal_height_4">
  </div>
  <div class="form-group">
    <label class="control-label">Дощомірна склянка, №</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.rg_number">
  </div>
  <div class="form-group">
    <label class="control-label">Об'єм, куб.см</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.rg_volume">
  </div>
  <div class="form-group">
    <label class="control-label">Ціна 1 поділки, куб. см</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.rg_range">
  </div>
  <div class="form-group">
    <label class="control-label">Таблицю склав</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.creator">
  </div>
  <div class="form-group">
    <label class="control-label">Таблицю перевірив</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.checker">
  </div>
  <div class="form-group">
    <label class="control-label">Дата відправлення до ЦГО</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.creation_date">
  </div>
  <div class="form-group">
    <label class="control-label">Начальник станції</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.head">
  </div>
  <div class="form-group">
    <label class="control-label">Зауваження ЦГО</label>
    <input class="form-control form-control-width" ng-model="modalMonthsCtrl.month.comments">
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-success" ng-click="modalMonthsCtrl.ok()">OK</button>
  <button class="btn btn-default" ng-click="modalMonthsCtrl.cancel()">Відмінити</button>
</div>