<div class="modal-header">
  <h3 class="modal-title" ng-bind="modalStationsCtrl.title"></h3>
</div>

<div class="modal-body">
  <div class="form-group">
    <label class="control-label">Станція</label>
    <input class="form-control" ng-model="modalStationsCtrl.station.name">
  </div>
  <div class="form-group">
    <label class="control-label">Координатний номер</label>
    <input class="form-control" ng-model="modalStationsCtrl.station.coordinates">
  </div>
  <div class="form-group">
    <label class="control-label">Область</label>
    <input class="form-control" ng-model="modalStationsCtrl.station.region">
  </div>
  <div class="form-group">
    <label class="control-label">Район</label>
    <input class="form-control" ng-model="modalStationsCtrl.station.district">
  </div>
  <div class="form-group">
    <label class="control-label">Населений пункт</label>
    <input class="form-control" ng-model="modalStationsCtrl.station.city">
  </div>
  <div class="form-group">
    <label class="control-label">Індекс</label>
    <input class="form-control" ng-model="modalStationsCtrl.station.index">
  </div>
  <div class="form-group">
    <label class="control-label">Висота над рівнем моря</label>
    <input class="form-control" ng-model="modalStationsCtrl.station.height">
  </div>
  <div class="form-group">
    <label class="control-label">Відкриття</label>
    <input class="form-control" ng-model="modalStationsCtrl.station.open">
  </div>
  <div class="form-group">
    <label class="control-label">Закриття</label>
    <input class="form-control" ng-model="modalStationsCtrl.station.close">
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-success" ng-click="modalStationsCtrl.ok()">OK</button>
  <button class="btn btn-default" ng-click="modalStationsCtrl.cancel()">Відмінити</button>
</div>