<h1 class="page-header">Annual Reports
  <small>
    <a class="btn btn-xs btn-success" ng-click="annualsCtrl.addOrEdit()">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
  </small>
</h1>

<a href="/annuals/reports">Reports</a>

<div class="form-inline">
  <label>Generate report: </label>
  <div class="input-group input-group-sm" style="width:200px;">
    <input type="text" class="form-control" placeholder="2015" ng-model="year">
    <span class="input-group-btn">
      <a ng-href="annuals/report?year={{year || 2015}}" class="btn btn-default">.xlsx</a>
    </span>
  </div>
</div>

<div class="table-responsive table-responsive-heightened">
  <table class="table table-hovered">
    <thead>
      <tr>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('station_id')">
            Station
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('station_id')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('year')">
            Year
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('year')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('number')">
            Number
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('number')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('angle_continental')">
            Angle Continental
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('angle_continental')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('angle_shore')">
            Angle Shore
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('angle_shore')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('page_station')">
            Station Page
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('page_station')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('page_observation')">
            Observation Page
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('page_observation')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('comment')">
            Comment
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('comment')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('snow_melting')">
            Snow Melting
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('snow_melting')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('observation_begin_g')">
            Ground Observation Begin
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('observation_begin_g')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('observation_end_g')">
            Ground Observation End
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('observation_end_g')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('water_freezing')">
            Water Freezing
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('water_freezing')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('ice_clean')">
            Ice Clean
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('ice_clean')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('observation_begin_w')">
            Water Observation Begin
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('observation_begin_w')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('observation_end_w')">
            Water Observation End
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('observation_end_w')"></i>
        </th>
        <th ng-class="{'main-order': annualsCtrl.isOrderedBy('station_id')}" 
            ng-click="annualsCtrl.orderBy('ice_cover')">
            Ice Cover
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!annualsCtrl.reverse, 'glyphicon-menu-up': !annualsCtrl.reverse}" ng-if="annualsCtrl.isOrderedBy('ice_cover')"></i>
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select class="form-control form-control-width" 
            ng-model="annualsCtrl.filter.station_id" 
            ng-options="station._id as station.name for station in annualsCtrl.stations"></select>
        </td>
        <td>
          <select class="form-control form-control-width" 
            ng-model="annualsCtrl.filter.year" 
            ng-options="year as year for year in annualsCtrl.Dates.years"></select>
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="annualsCtrl.filter.number">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="annualsCtrl.filter.angle_continental">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="annualsCtrl.filter.angle_shore">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="annualsCtrl.filter.page_station">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="annualsCtrl.filter.page_observation">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="annualsCtrl.filter.comment">
        </td>
        <td>
          <p class="input-group">
            <input class="form-control form-control-width"
                 datepicker-popup
                 ng-model="annualsCtrl.filter.snow_melting"
                 is-open="annualsCtrl.isOpen.snow_melting">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="annualsCtrl.open($event, 'snow_melting')">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </td>
        <td>
          <p class="input-group">
            <input class="form-control form-control-width"
                 datepicker-popup
                 ng-model="annualsCtrl.filter.observation_begin_g"
                 is-open="annualsCtrl.isOpen.observation_begin_g">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="annualsCtrl.open($event, 'observation_begin_g')">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </td>
        <td>
          <p class="input-group">
            <input class="form-control form-control-width"
                 datepicker-popup
                 ng-model="annualsCtrl.filter.observation_end_g"
                 is-open="annualsCtrl.isOpen.observation_end_g">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="annualsCtrl.open($event, 'observation_end_g')">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </td>
        <td>
          <p class="input-group">
            <input class="form-control form-control-width"
                 datepicker-popup
                 ng-model="annualsCtrl.filter.water_freezing"
                 is-open="annualsCtrl.isOpen.water_freezing">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="annualsCtrl.open($event, 'water_freezing')">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </td>
        <td>
          <p class="input-group">
            <input class="form-control form-control-width"
                 datepicker-popup
                 ng-model="annualsCtrl.filter.ice_clean"
                 is-open="annualsCtrl.isOpen.ice_clean">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="annualsCtrl.open($event, 'ice_clean')">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </td>
        <td>
          <p class="input-group">
            <input class="form-control form-control-width"
                 datepicker-popup
                 ng-model="annualsCtrl.filter.observation_begin_w"
                 is-open="annualsCtrl.isOpen.observation_begin_w">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="annualsCtrl.open($event, 'observation_begin_w')">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </td>
        <td>
          <p class="input-group">
            <input class="form-control form-control-width"
                 datepicker-popup
                 ng-model="annualsCtrl.filter.observation_end_w"
                 is-open="annualsCtrl.isOpen.observation_end_w">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="annualsCtrl.open($event, 'observation_end_w')">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </td>
        <td>
          <p class="input-group">
            <input class="form-control form-control-width"
                 datepicker-popup
                 ng-model="annualsCtrl.filter.ice_cover"
                 is-open="annualsCtrl.isOpen.ice_cover">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="annualsCtrl.open($event, 'ice_cover')">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </td>
        <td>
          <button class="btn btn-success" ng-click="annualsCtrl.clearFilter()">Clear</button>
        </td>
      </tr>
      <tr ng-repeat="annual in annualsCtrl.annuals | filter:annualsCtrl.filter | orderBy:annualsCtrl.order:annualsCtrl.reverse">
        <td ng-bind="annualsCtrl.station(annual.station_id)"></td>
        <td ng-bind="annual.year"></td>
        <td ng-bind="annual.number"></td>
        <td ng-bind="annual.angle_continental"></td>
        <td ng-bind="annual.angle_shore"></td>
        <td ng-bind="annual.page_station"></td>
        <td ng-bind="annual.page_observation"></td>
        <td ng-bind="annual.comment"></td>
        <td ng-bind="annual.snow_melting | date"></td>
        <td ng-bind="annual.observation_begin_g | date"></td>
        <td ng-bind="annual.observation_end_g | date"></td>
        <td ng-bind="annual.water_freezing | date"></td>
        <td ng-bind="annual.ice_clean | date"></td>
        <td ng-bind="annual.observation_begin_w | date"></td>
        <td ng-bind="annual.observation_end_w | date"></td>
        <td ng-bind="annual.ice_cover | date"></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-primary" ng-click="annualsCtrl.addOrEdit(annual)">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <button class="btn btn-xs btn-danger" ng-click="annualsCtrl.delete(annual)">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>