<h1 class="page-header">Щоденна таблиця 
  <small>
    <a class="btn btn-xs btn-success" ng-click="daysCtrl.addOrEdit()">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
  </small>
</h1>

<div class="form-inline">
  <label class="report-generation">Згенерувати звіт: </label>
  <br>
  <label>Станція: </label>
  <div class="input-group input-group-sm" style="width:200px;">
    <select class="form-control form-control-width" 
          ng-model="station"
          ng-options="station._id as station.name for station in daysCtrl.stations">
    </select>
  </div>

  <label>Рік: </label>
  <div class="input-group input-group-sm" style="width:100px;">
    <input type="text" class="form-control" placeholder="2015" ng-model="yearNum">
  </div>

  <label>Місяць: </label>
  <div class="input-group input-group-sm" style="width:200px;">
    <input type="text" class="form-control" placeholder="8" ng-model="monthNum">
    <span class="input-group-btn">
      <a ng-href="days/day?station={{station}}&yearNum={{yearNum || 2015}}&monthNum={{monthNum || 2}}" class="btn btn-default">Генерувати</a>
    </span>
  </div>
</div>
<hr>

<div class="table-responsive table-responsive-heightened">
  <table class="table table-hovered">
    <thead>
      <tr>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('station_id')}" 
            ng-click="daysCtrl.orderBy('station_id')">
          Станція
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('station_id')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('year')}" 
            ng-click="daysCtrl.orderBy('year')">
          Рік
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('year')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('month')}" 
            ng-click="daysCtrl.orderBy('month')">
          Місяць
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('month')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('day')}" 
            ng-click="daysCtrl.orderBy('day')">
          День
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('day')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('vapour_1')}" 
            ng-click="daysCtrl.orderBy('vapour_1')">
          Басейн: випаровування, мм/доб
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('vapour_1')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('temp_1')}" 
            ng-click="daysCtrl.orderBy('temp_1')">
          Температура, °C
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('temp_1')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('press_1')}" 
            ng-click="daysCtrl.orderBy('press_1')">
          Тиск насиченної пари, гПа
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('press_1')"></i>
        </th>
        
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('vapour_3')}" 
            ng-click="daysCtrl.orderBy('vapour_3')">
          Випарник: випаровування, мм/доб
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('vapour_3')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('temp_3')}" 
            ng-click="daysCtrl.orderBy('temp_3')">
          Температура, °C
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('temp_3')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('press_3')}" 
            ng-click="daysCtrl.orderBy('press_3')">
          Тиск насиченної пари, гПа
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('press_3')"></i>
        </th>

        <th ng-class="{'main-order': daysCtrl.isOrderedBy('vapour_2')}" 
            ng-click="daysCtrl.orderBy('vapour_2')">
          Випарник(3000): випаровування, мм/доб
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('vapour_2')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('temp_2')}" 
            ng-click="daysCtrl.orderBy('temp_2')">
          Температура, °C
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('temp_2')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('press_2')}" 
            ng-click="daysCtrl.orderBy('press_2')">
          Тиск насиченної пари, гПа
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('press_2')"></i>
        </th>

        <th ng-class="{'main-order': daysCtrl.isOrderedBy('temp_w_4')}" 
            ng-click="daysCtrl.orderBy('temp_w_4')">
          Водойма: температура, °C
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('temp_w_4')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('press_4')}" 
            ng-click="daysCtrl.orderBy('press_4')">
          Водойма: тиск насиченної пари, гПа
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('press_4')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('temp_a')}" 
            ng-click="daysCtrl.orderBy('temp_a')">
          Температура повітря, °C
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('temp_a')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('part_press')}" 
            ng-click="daysCtrl.orderBy('part_press')">
          Парціальний тиск пари, гПа
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('part_press')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('wind')}" 
            ng-click="daysCtrl.orderBy('wind')">
          Швидкість вітру, м/с
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('wind')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('soil_temp')}" 
            ng-click="daysCtrl.orderBy('soil_temp')">
          Температура грунту на глибині 20 см, °C
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('soil_temp')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('falls')}" 
            ng-click="daysCtrl.orderBy('falls')">
          Опади за добу, мм
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('falls')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('press_diff_1')}" 
            ng-click="daysCtrl.orderBy('press_diff_1')">
          Різниця тиску вод. пари. Басейн
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('press_diff_1')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('press_diff_2')}" 
            ng-click="daysCtrl.orderBy('press_diff_2')">
          Різниця тиску вод. пари. Випарник
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('press_diff_2')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('press_diff_3')}" 
            ng-click="daysCtrl.orderBy('press_diff_3')">
          Різниця тиску вод. пари. Випарник(3000)
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('press_diff_3')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('press_diff_4')}" 
            ng-click="daysCtrl.orderBy('press_diff_4')">
          Різниця тиску вод. пари. Водойма
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('press_diff_4')"></i>
        </th>
        <th ng-class="{'main-order': daysCtrl.isOrderedBy('comment')}" 
            ng-click="daysCtrl.orderBy('comment')">
          Примітка
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('comment')"></i>
        </th>
        <th>Дія</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select class="form-control form-control-width"
            ng-model="daysCtrl.filter.station_id"
            ng-options="station._id as station.name for station in daysCtrl.stations"></select>
        </td>
        <td>
          <select class="form-control form-control-width" 
            ng-model="daysCtrl.filter.year" 
            ng-options="year as year for year in daysCtrl.Dates.years"></select>
        </td>
        <td>
          <select class="form-control form-control-width" 
            ng-model="daysCtrl.filter.month" 
            ng-options="month.index as month.name for month in daysCtrl.Dates.months"></select>
        </td>
        <td>
          <select class="form-control form-control-width" 
            ng-model="daysCtrl.filter.day" 
            ng-options="day as day for day in daysCtrl.Dates.days"></select>
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.vapour_1">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.temp_1">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.press_1">
        </td>

        
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.vapour_3">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.temp_3">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.press_3">
        </td>

        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.vapour_2">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.temp_2">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.press_2">
        </td>

        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.temp_w_4">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.press_4">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.temp_a">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.part_press">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.wind">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.soil_temp">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.falls">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.press_diff_1">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.press_diff_2">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.press_diff_3">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.press_diff_4">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="daysCtrl.filter.comment">
        </td>
        <td>
          <button class="btn btn-success" ng-click="daysCtrl.clearFilter()">Очистити</button>
        </td>
      </tr>
      <tr ng-repeat="day in daysCtrl.days | filter:daysCtrl.filter | orderBy:daysCtrl.order:daysCtrl.reverse">
        <td ng-bind="daysCtrl.station(day.station_id)"></td>
        <td ng-bind="day.year"></td>
        <td ng-bind="day.month"></td>
        <td ng-bind="day.day"></td>
        <td ng-bind="day.vapour_1"></td>
        <td ng-bind="day.temp_1"></td>
        <td ng-bind="day.press_1"></td>
        

        <td ng-bind="day.vapour_3"></td>
        <td ng-bind="day.temp_3"></td>
        <td ng-bind="day.press_3"></td>

        <td ng-bind="day.vapour_2"></td>
        <td ng-bind="day.temp_2"></td>
        <td ng-bind="day.press_2"></td>

        <td ng-bind="day.temp_w_4"></td>
        <td ng-bind="day.press_4"></td>
        <td ng-bind="day.temp_a"></td>
        <td ng-bind="day.part_press"></td>
        <td ng-bind="day.wind"></td>
        <td ng-bind="day.soil_temp"></td>
        <td ng-bind="day.falls"></td>
        <td ng-bind="day.press_diff_1"></td>
        <td ng-bind="day.press_diff_2"></td>
        <td ng-bind="day.press_diff_3"></td>
        <td ng-bind="day.press_diff_4"></td>
        <td ng-bind="day.comment"></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-primary" ng-click="daysCtrl.addOrEdit(day)">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <button class="btn btn-xs btn-danger" ng-click="daysCtrl.delete(day)">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>