<h1 class="page-header">Employees
  <small>
    <a class="btn btn-xs btn-success" ng-click="employeesCtrl.addOrEdit()">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
  </small>
</h1>

<table class="table table-hovered">
  <thead>
    <tr>
      <th ng-class="{'main-order': daysCtrl.isOrderedBy('name')}" 
          ng-click="daysCtrl.orderBy('name')">
          Name
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('name')"></i>
      </th>
      <th ng-class="{'main-order': daysCtrl.isOrderedBy('middlename')}" 
          ng-click="daysCtrl.orderBy('middlename')">
          Middlename
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('middlename')"></i>
      </th>
      <th ng-class="{'main-order': daysCtrl.isOrderedBy('surname')}" 
          ng-click="daysCtrl.orderBy('surname')">
          Surname
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('surname')"></i>
      </th>
      <th ng-class="{'main-order': daysCtrl.isOrderedBy('station_id')}" 
          ng-click="daysCtrl.orderBy('station_id')">
          Station
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('station_id')"></i>
      </th>
      <th ng-class="{'main-order': daysCtrl.isOrderedBy('position')}" 
          ng-click="daysCtrl.orderBy('position')">
          Position
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('position')"></i>
      </th>
      <th ng-class="{'main-order': daysCtrl.isOrderedBy('description')}" 
          ng-click="daysCtrl.orderBy('description')">
          Description
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!daysCtrl.reverse, 'glyphicon-menu-up': !daysCtrl.reverse}" ng-if="daysCtrl.isOrderedBy('description')"></i>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input class="form-control" ng-model="employeesCtrl.filter.name">
      </td>
      <td>
        <input class="form-control" ng-model="employeesCtrl.filter.middlename">
      </td>
      <td>
        <input class="form-control" ng-model="employeesCtrl.filter.surname">
      </td>
      <td>
        <select class="form-control" 
          ng-model="employeesCtrl.filter.station_id" 
          ng-options="station._id as station.name for station in employeesCtrl.stations"></select>
      </td>
      <td>
        <input class="form-control" ng-model="employeesCtrl.filter.position">
      </td>
      <td>
        <input class="form-control" ng-model="employeesCtrl.filter.description">
      </td>
      <td>
        <button class="btn btn-success" ng-click="employeesCtrl.clearFilter()">Clear</button>
      </td>
    </tr>
    <tr ng-repeat="employee in employeesCtrl.employees | filter:employeesCtrl.filter | orderBy:employeesCtrl.order:employeesCtrl.reverse">
      <td ng-bind="employee.name"></td>
      <td ng-bind="employee.middlename"></td>
      <td ng-bind="employee.surname"></td>
      <td ng-bind="employeesCtrl.station(employee.station_id)"></td>
      <td ng-bind="employee.position"></td>
      <td ng-bind="employee.description"></td>
      <td>
        <div class="btn-group">
          <button class="btn btn-xs btn-primary" ng-click="employeesCtrl.addOrEdit(employee)">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>
          <button class="btn btn-xs btn-danger" ng-click="employeesCtrl.delete(employee)">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>