<h1 class="page-header">Щомісячні дані
  <small>
    <a class="btn btn-xs btn-success" ng-click="monthsCtrl.addOrEdit()">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
  </small>
</h1>

<div class="table-responsive table-responsive-heightened">
  <table class="table table-hovered">
    <thead>
      <tr>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('station_id')}" 
            ng-click="monthsCtrl.orderBy('station_id')">
            Станція
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('station_id')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('year')}" 
            ng-click="monthsCtrl.orderBy('year')">
            Рік
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('year')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('month')}" 
            ng-click="monthsCtrl.orderBy('month')">
            Місяць
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('month')"></i>
        </th>
        <th>Інструменти</th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('square_1')}" 
            ng-click="monthsCtrl.orderBy('square_1')">
            Площа басейну, кв.м
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('square_1')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('depth_1')}" 
            ng-click="monthsCtrl.orderBy('depth_1')">
            Глибина басейну, м
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('depth_1')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('external_height_1')}" 
            ng-click="monthsCtrl.orderBy('external_height_1')">
            Висота зовні, см
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('external_height_1')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('internal_height_1')}" 
            ng-click="monthsCtrl.orderBy('internal_height_1')">
            Висота усередині, см
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('internal_height_1')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('square_2')}" 
            ng-click="monthsCtrl.orderBy('square_2')">
            Площа випарника, кв.м
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('square_2')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('depth_2')}" 
            ng-click="monthsCtrl.orderBy('depth_2')">
            Глибина випарника, м
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('depth_2')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('external_height_2')}" 
            ng-click="monthsCtrl.orderBy('external_height_2')">
            Висота зовні, см
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('external_height_2')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('internal_height_2')}" 
            ng-click="monthsCtrl.orderBy('internal_height_2')">
            Висота усередині, см
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('internal_height_2')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('square_3')}" 
            ng-click="monthsCtrl.orderBy('square_3')">
            Площа випарника(3000), кв.м
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('square_3')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('depth_3')}" 
            ng-click="monthsCtrl.orderBy('depth_3')">
            Глибина випарника(3000), м
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('depth_3')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('external_height_3')}" 
            ng-click="monthsCtrl.orderBy('external_height_3')">
            Висота зовні, см
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('external_height_3')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('internal_height_3')}" 
            ng-click="monthsCtrl.orderBy('internal_height_3')">
            Висота усередині, см
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('internal_height_3')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('square_4')}" 
            ng-click="monthsCtrl.orderBy('square_4')">
            Площа дощоміра, кв.м
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('square_4')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('depth_4')}" 
            ng-click="monthsCtrl.orderBy('depth_4')">
            Глибина дощоміра, м
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('depth_4')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('external_height_4')}" 
            ng-click="monthsCtrl.orderBy('external_height_4')">
            Висота зовні, см
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('external_height_4')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('internal_height_4')}" 
            ng-click="monthsCtrl.orderBy('internal_height_4')">
            Висота усередині, см
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('internal_height_4')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('rg_number')}" 
            ng-click="monthsCtrl.orderBy('rg_number')">
            Дощомірна склянка, №
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('rg_number')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('rg_volume')}" 
            ng-click="monthsCtrl.orderBy('rg_volume')">
            Об'єм, куб.см
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('rg_volume')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('rg_range')}" 
            ng-click="monthsCtrl.orderBy('rg_range')">
            Ціна 1 поділки, куб. см
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('rg_range')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('creator')}" 
            ng-click="monthsCtrl.orderBy('creator')">
            Таблицю склав
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('creator')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('checket')}" 
            ng-click="monthsCtrl.orderBy('checket')">
            Таблицю перевірив
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('checket')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('creation_date')}" 
            ng-click="monthsCtrl.orderBy('creation_date')">
            Дата відправлення до ЦГО
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('creation_date')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('head')}" 
            ng-click="monthsCtrl.orderBy('head')">
            Начальник станції
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('head')"></i>
        </th>
        <th ng-class="{'main-order': monthsCtrl.isOrderedBy('comments')}" 
            ng-click="monthsCtrl.orderBy('comments')">
            Зауваження ЦГО
            <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!monthsCtrl.reverse, 'glyphicon-menu-up': !monthsCtrl.reverse}" ng-if="monthsCtrl.isOrderedBy('comments')"></i>
        </th>
        <th>Дія</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select class="form-control form-control-width"
            ng-model="monthsCtrl.filter.station_id"
            ng-options="station._id as station.name for station in monthsCtrl.stations"></select>
        </td>
        <td>
          <select class="form-control form-control-width" 
            ng-model="monthsCtrl.filter.year" 
            ng-options="year as year for year in monthsCtrl.Dates.years"></select>
        </td>
        <td>
          <select class="form-control form-control-width" 
            ng-model="monthsCtrl.filter.month" 
            ng-options="month.index as month.name for month in monthsCtrl.Dates.months"></select>
        </td>
        <td></td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.square_1">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.depth_1">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.external_height_1">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.internal_height_1">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.square_2">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.depth_2">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.external_height_2">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.internal_height_2">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.square_3">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.depth_3">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.external_height_3">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.internal_height_3">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.square_4">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.depth_4">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.external_height_4">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.internal_height_4">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.rg_number">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.rg_volume">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.rg_range">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.creator">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.checker">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.creation_date">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.head">
        </td>
        <td>
          <input class="form-control form-control-width" ng-model="monthsCtrl.filter.comments">
        </td>
        <td>
          <button class="btn btn-success" ng-click="monthsCtrl.clearFilter()">Очистити</button>
        </td>
      </tr>
      <tr ng-repeat="month in monthsCtrl.months | filter:monthsCtrl.filter | orderBy:monthsCtrl.order:monthsCtrl.reverse">
        <td ng-bind="monthsCtrl.station(month.station_id)"></td>
        <td ng-bind="month.year"></td>
        <td ng-bind="month.month"></td>
        <td>
          <button tooltip-html-unsafe="{{monthsCtrl.tooltip(month)}}" class="btn btn-default btn-xs">
            <i class="glyphicon glyphicon-wrench"></i>
          </button>
        </td>
        <td ng-bind="month.square_1"></td>
        <td ng-bind="month.depth_1"></td>
        <td ng-bind="month.external_height_1"></td>
        <td ng-bind="month.internal_height_1"></td>
        <td ng-bind="month.square_2"></td>
        <td ng-bind="month.depth_2"></td>
        <td ng-bind="month.external_height_2"></td>
        <td ng-bind="month.internal_height_2"></td>
        <td ng-bind="month.square_3"></td>
        <td ng-bind="month.depth_3"></td>
        <td ng-bind="month.external_height_3"></td>
        <td ng-bind="month.internal_height_3"></td>
        <td ng-bind="month.square_4"></td>
        <td ng-bind="month.depth_4"></td>
        <td ng-bind="month.external_height_4"></td>
        <td ng-bind="month.internal_height_4"></td>
        <td ng-bind="month.rg_number"></td>
        <td ng-bind="month.rg_volume"></td>
        <td ng-bind="month.rg_range"></td>
        <td ng-bind="month.creator"></td>
        <td ng-bind="month.checker"></td>
        <td ng-bind="month.creation_date"></td>
        <td ng-bind="month.head"></td>
        <td ng-bind="month.comments"></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-primary" ng-click="monthsCtrl.addOrEdit(month)">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <button class="btn btn-xs btn-danger" ng-click="monthsCtrl.delete(month)">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>