<h1 class="page-header">Станції
  <small>
    <a class="btn btn-xs btn-success" ng-click="stationsCtrl.addOrEdit()">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
  </small>
</h1>

<table class="table table-hovered">
  <thead>
    <tr>
      <th ng-class="{'main-order': stationsCtrl.isOrderedBy('name')}" 
          ng-click="stationsCtrl.orderBy('name')">
          Станція назва
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!stationsCtrl.reverse, 'glyphicon-menu-up': !stationsCtrl.reverse}" ng-if="stationsCtrl.isOrderedBy('name')"></i>
      </th>
      <th ng-class="{'main-order': stationsCtrl.isOrderedBy('coordinates')}" 
          ng-click="stationsCtrl.orderBy('coordinates')">
          Координатний номер
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!stationsCtrl.reverse, 'glyphicon-menu-up': !stationsCtrl.reverse}" ng-if="stationsCtrl.isOrderedBy('coordinates')"></i>
      </th>
      <th ng-class="{'main-order': stationsCtrl.isOrderedBy('region')}" 
          ng-click="stationsCtrl.orderBy('region')">
          Область
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!stationsCtrl.reverse, 'glyphicon-menu-up': !stationsCtrl.reverse}" ng-if="stationsCtrl.isOrderedBy('region')"></i>
      </th>
      <th ng-class="{'main-order': stationsCtrl.isOrderedBy('district')}" 
          ng-click="stationsCtrl.orderBy('district')">
          Район
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!stationsCtrl.reverse, 'glyphicon-menu-up': !stationsCtrl.reverse}" ng-if="stationsCtrl.isOrderedBy('district')"></i>
      </th>
      <th ng-class="{'main-order': stationsCtrl.isOrderedBy('city')}" 
          ng-click="stationsCtrl.orderBy('city')">
          Населений пункт
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!stationsCtrl.reverse, 'glyphicon-menu-up': !stationsCtrl.reverse}" ng-if="stationsCtrl.isOrderedBy('city')"></i>
      </th>
      <th ng-class="{'main-order': stationsCtrl.isOrderedBy('index')}" 
          ng-click="stationsCtrl.orderBy('index')">
          Індекс
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!stationsCtrl.reverse, 'glyphicon-menu-up': !stationsCtrl.reverse}" ng-if="stationsCtrl.isOrderedBy('index')"></i>
      </th>
      <th ng-class="{'main-order': stationsCtrl.isOrderedBy('height')}" 
          ng-click="stationsCtrl.orderBy('height')">
          Висота над рівнем моря
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!stationsCtrl.reverse, 'glyphicon-menu-up': !stationsCtrl.reverse}" ng-if="stationsCtrl.isOrderedBy('height')"></i>
      </th>
      <th ng-class="{'main-order': stationsCtrl.isOrderedBy('open')}" 
          ng-click="stationsCtrl.orderBy('open')">
          Відкриття
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!stationsCtrl.reverse, 'glyphicon-menu-up': !stationsCtrl.reverse}" ng-if="stationsCtrl.isOrderedBy('open')"></i>
      </th>
      <th ng-class="{'main-order': stationsCtrl.isOrderedBy('close')}" 
          ng-click="stationsCtrl.orderBy('close')">
          Закриття
          <i class="glyphicon" ng-class="{'glyphicon-menu-down': !!stationsCtrl.reverse, 'glyphicon-menu-up': !stationsCtrl.reverse}" ng-if="stationsCtrl.isOrderedBy('close')"></i>
      </th>
      <th>Дія</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input class="form-control" ng-model="stationsCtrl.filter.name">
      </td>
      <td>
        <input class="form-control" ng-model="stationsCtrl.filter.coordinates">
      </td>
      <td>
        <input class="form-control" ng-model="stationsCtrl.filter.region">
      </td>
      <td>
        <input class="form-control" ng-model="stationsCtrl.filter.district">
      </td>
      <td>
        <input class="form-control" ng-model="stationsCtrl.filter.city">
      </td>
      <td>
        <input class="form-control" ng-model="stationsCtrl.filter.index">
      </td>
      <td>
        <input class="form-control" ng-model="stationsCtrl.filter.height">
      </td>
      <td>
        <input class="form-control" ng-model="stationsCtrl.filter.open">
      </td>
      <td>
        <input class="form-control" ng-model="stationsCtrl.filter.close">
      </td>
      <td>
        <button class="btn btn-success" ng-click="stationsCtrl.clearFilter()">Очистити</button>
      </td>
    </tr>
    <tr ng-repeat="station in stationsCtrl.stations | filter:stationsCtrl.filter | orderBy:stationsCtrl.order:stationsCtrl.reverse">
      <td ng-bind="station.name"></td>
      <td ng-bind="station.coordinates"></td>
      <td ng-bind="station.region"></td>
      <td ng-bind="station.district"></td>
      <td ng-bind="station.city"></td>
      <td ng-bind="station.index"></td>
      <td ng-bind="station.height"></td>
      <td ng-bind="station.open"></td>
      <td ng-bind="station.close"></td>
      <td>
        <div class="btn-group">
          <button class="btn btn-xs btn-primary" ng-click="stationsCtrl.addOrEdit(station)">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>
          <button class="btn btn-xs btn-danger" ng-click="stationsCtrl.delete(station)">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>